/* *{
    border-style:solid;
    border-width:1px;
    border-color: red;
}  */


body{
    background-color: aquamarine;
    margin-left: 20px;
    margin-right: 20px;
    }

p { 
    font-family:Helvetica;
    text-align: center;
    background-color: khaki;
    box-shadow: 3px;
    padding: 2px;
    
        
    }

h1 {        
    font-family:impact;
    color:black;
    font-size:40px;
    font-kerning: 10px;
    text-align: center;
}
h2 {
    font-family: impact;
    color:khaki;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-coloR: black;
    margin-left: 0%;
    margin-right: 0%;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-left: 10px;
    padding-right:10px;
    text-align: center;
}

h4 {
    font-family:impact;
    font-size:15;
    text-align: center;

}

header{
    width:100%;
    background-color: black;
    color:aquamarine;
    font-family: aller, bold;
    
}
nav ul{
    padding:10px;
    border-left:10px;
    border-right:10px;
    margin: 0 auto;
    list-style-type: none; 
    color:aquamarine;
    display: flex;
    justify-content: space-around;
}

nav li{
    padding: 10px, 10px;
}


footer{
    margin-bottom:0px;
    background-color:black;
    color:aquamarine;
    font-family:aller;

}


ol{
    font-family: Helvetica-bold;
    color:gray;
    list-style: square;
    text-align: left;
    padding-left: 47.5%;
    
}